

<div class="layout-container">
  <!-- Sidebar à esquerda -->
  <sidebar class="sidebar"></sidebar>

  <!-- Conteúdo principal à direita dentro do mat-card -->
   <div  class="content-card">
     <mat-card appearance="raised">
       <mat-card-content>
         <router-outlet></router-outlet>
       </mat-card-content>
     </mat-card>
   </div>
</div>
<!--
<div>
  <sidebar></sidebar>
</div>

<mat-card appearance="raised" >
  <mat-card-content>
    <router-outlet></router-outlet>
  </mat-card-content>
</mat-card> -->

